@import '~normalize.css';

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.f-center-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}